@page
@model Inkoplistan.Pages.InfoProduct.IndexModel
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].antal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].Inhandlad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matvara)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.antal)
            </td>

            <!--///////////////////////--> @*    Modifica checkbox   *@ <!--///////////////////////////-->

            <td>
                @*<input type="checkbox" checked="@(1 == 0)" />*@

                @Html.DisplayFor(modelItem => item.Inhandlad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>

            @if (User.Identity.Name == item.UserId)
            {



                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            }

            else
            {
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a>
        </td>

             }
        </tr>
        }
    </tbody>
</table>
