@page
@model Inkoplistan.Pages.InfoProduct.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].antal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].Inhandlad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matvara[0].UserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Matvara) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.antal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inhandlad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
